@charset "UTF-8";

/* gallery */
div#upload-img{
    margin: 22px 0;
}
div#upload-img label{
    float: right;
    background-color: #dddddd;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 7px;
}
#gallery{
    box-sizing: border-box;
    width: 810px;
}
#gallery ul{
    float: left;
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    margin-bottom: 5px;
}
#gallery ul:not(:nth-child(4n)){
    margin-right: 5px;
}
#gallery ul li{
    box-sizing: border-box;
    padding: 0px 5px 5px 5px;
}
#gallery ul li img{
    width: 187px;
}
/* /gallery */
