@charset "UTF-8";
/*
flex
부모 컨테이너의 공간을 분배하여 자식요소를 유연하게 배치한다
반응형 디자인 지원 : 화면크기에 따라 요소의 크기와 배치를 조정하여 반응형 웹디자인에 유용하다

속성구분이 중요. 
부모와 자식의 속성값을 명확히 구분

align-self 자식하나에 보조축 정렬 (align-items를 자식 하나에 따로 부여)
flex-start flex-end center baseline stretch


flex-grow
flex-shrink
flex-basis
*/

.container{
    width: 500px;
    height: 200px;
    border: 1px solid #000;
    margin-bottom: 20px;
}
.container.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.container.column{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.item1{
    border: 3px solid #f00;
    align-self: flex-end;
}
.item2{
    border: 3px solid #00f;
    align-self: flex-start;
}
.item3{
    border: 3px solid #0F0;
    align-self: stretch;
}