@charset "UTF-8";
/*
flex
부모 컨테이너의 공간을 분배하여 자식요소를 유연하게 배치한다
반응형 디자인 지원 : 화면크기에 따라 요소의 크기와 배치를 조정하여 반응형 웹디자인에 유용하다

속성구분이 중요. 
부모와 자식의 속성값을 명확히 구분
<부모속성>
align-content
wrap으로 2줄이 됐을때의 규칙
flex-start : 교차축을 기준으로 시작지점 쪽으로 붙음
flex-end
center
space-between
space-around
space-evenly
*/

.container{
    width: 500px;
    height: 200px;
    border: 1px solid #000;
    margin-bottom: 20px;
}
.container.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    flex-wrap: wrap;
}
.item1{
    border: 3px solid #f00;
}
.item2{
    border: 3px solid #00f;
}
.item3{
    border: 3px solid #0F0;
}