<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Mysite</title>
    <link rel="stylesheet" href="../../asset/css/reset.css">
    <link rel="stylesheet" href="../../asset/css/mysite.css">
</head>
<body>
    <div id="wrap">
        <header>
            <div id="header-inner">
                <h1>Mysite</h1>
                <ul id="header-inner-box">
                    <li><a href="#" class="header-inner-btn">로그인</a></li>
                    <li><a href="#" class="header-inner-btn">회원가입</a></li>
                </ul>
            </div>
        </header>
        <nav>
            <div id="nav-inner">
                <ul id="nav-inner-menulist">
                    <li><a href="#" class="nav-inner-menu-link">입사지원서</a></li>
                    <li><a href="#" class="nav-inner-menu-link">게시판</a></li>
                    <li><a href="#" class="nav-inner-menu-link">갤러리</a></li>
                    <li><a href="#" class="nav-inner-menu-link">방명록</a></li>
                </ul>
            </div>
        </nav>
        <div id="content">
            <aside>
                <ul id="aside-member">
                    <li><h2>회원</h2></li>
                    <li><a href="#">회원정보</a></li>
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
            </aside>
            <main>
                <div id="main-header">
                    <h3>회원정보</h3>
                    <div id="Breadcrumb">
                        <ul id="Breadcrumb-List">
                            <li>홈</li>
                            <li>회원</li>
                            <li>회원정보</li>
                        </ul>
                    </div>
                </div>
            </main>
        </div>
        <footer>
            <div id="footer-inner">
                <p>Copyright ⓒ 2025 최현범. All right reserved</p>
            </div>
        </footer>

    </div>
</body>
</html>